/**
 * This Combines all theme scss into a single CSS file
 */
stage {
  font-family: JetBrains Mono, Arial;
  font-size: 11pt;
}

.toggle-switch {
  border-radius: 10px;
  background-image: url("toggle10-on.svg");
  background-color: #6b4cc3;
}
.toggle-switch:checked {
  background-image: url("toggle10-off.svg");
  background-color: #0E8064;
}

/**
 * SEARCH BARS
*/
StEntry {
  color: #ffeecc;
  border: 2px solid #ffeecc;
  background-color: #6b4cc3;
  border-radius: 12px;
  font-weight: 700;
}

.list-search-result:focus, .list-search-result:hover, .list-search-result:selected,
.search-provider-icon:focus,
.search-provider-icon:hover,
.search-provider-icon:selected {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}
.list-search-result:active,
.search-provider-icon:active {
  background-color: red;
  color: #ffffff;
}

/**
 * TOP BAR PANEL
*/
#panel {
  height: 1.6em;
  background-color: rgba(51, 0, 128, 0.8);
  /*background-image: url('test.jpg');
  repeat: no-repeat;
  attachment: fixed;
  position: left;*/
  border-bottom: 2px;
  border-color: #ffeecc;
}

.panel-button:hover, .panel-button:overview, .panel-button:active {
  color: #ffeecc;
  background-color: #0E8064;
}
.panel-button:hover .clock, .panel-button:active .clock {
  color: #ffeecc;
  background-color: #0E8064;
}

.events-button,
.world-clocks-button,
.weather-button {
  background-color: #27243A;
  color: #ffeecc;
  border-radius: 12px;
}
.events-buttonactive,
.world-clocks-buttonactive,
.weather-buttonactive {
  background-color: #0E8064;
  color: #ffeecc;
}

/**
 * CALENDAR
*/
.calendar-month-label {
  background-color: #0E8064;
  color: #ffeecc;
}

.pager-button {
  border-radius: 12px;
  background-color: #0E8064;
}

.calendar-week-number {
  color: red;
}

.calendar-today {
  font-weight: bold;
}
.calendar-today:active, .calendar-today:selected {
  background-color: #0E8064;
  color: #f8f8f2;
}
.calendar-today:active:hover, .calendar-today:active:focus, .calendar-today:selected:hover, .calendar-today:selected:focus {
  background-color: #6b4cc3;
  color: #f8f8f2;
}

.calendar-day {
  background-color: #27243A;
  color: #ffeecc;
  border-radius: 12px;
}
.calendar-day:hover {
  background-color: #6b4cc3;
}

.popup-menu-content {
  color: #f0ead2;
  background-color: rgba(51, 0, 128, 0.8);
  border-radius: 10px;
  border: 0px;
}

.popup-menu-item:hover, .popup-menu-item:selected {
  background-color: #6b4cc3;
  color: #ffeecc;
}

.slider {
  color: #ffeecc;
  -slider-height: 0.5em;
  -slider-active-background-color: rgb(51, 0, 128);
  -barlevel-height: 0.5em;
  -barlevel-active-background-color: #ffeecc;
}

/**
 * QUICK TOGGLE OPTIONS
*/
.quick-toggle {
  color: #ffeecc;
  background-color: #27243A;
}
.quick-toggle:checked {
  background-color: #0E8064;
}

.quick-toggle-menu {
  background-color: #0E8064;
  color: #ffeecc;
}

.quick-slider:active,
.icon-button:active {
  color: #ffeecc;
  background-color: #0E8064;
}

.icon-button {
  background-color: #0E8064;
}

.message {
  color: #ffeecc;
  background-color: #27243A;
}
.message:hover {
  background-color: #6b4cc3;
}

.message-list-clear-button.button {
  background-color: #27243A;
}
.message-list-clear-button.button:hover, .message-list-clear-button.button:focus {
  color: #ffeecc;
}

/**
 * APPLICATION DASH
 * 
*/
#dash {
  background-color: rgba(0, 0, 0, 0);
  color: #0E8064;
}

.dash-background {
  background-color: rgb(51, 0, 128);
  border-radius: 14px;
}

/**
 * WORKSPACE NAVIGATION AREA WHEN YOU PRESS SUPERMOD
*/
.workspace-animation {
  background-color: #27243A;
}

.controls-manager {
  background-color: #27243A;
}

.workspace-thumbnail {
  background-color: #6b4cc3;
  border: none;
  border-radius: 9px;
  border: 1px solid rgba(255, 255, 255, 0.03);
  background-size: cover;
}

.workspace-thumbnail-indicator {
  border-color: #ffeecc;
  border-width: 2px;
  border-radius: 12px;
}

/*# sourceMappingURL=gnome-shell.css.map */
