stage{
	font:{
		family: JetBrains Mono, Arial;
		size: 11pt;
	}
}
.toggle-switch{
	border-radius: 10px;
	background:{
		image: url("toggle10-on.svg");
		color: $blurple-highlight;
	}
	&:checked{
		background:{
			image: url("toggle10-off.svg");
			color: $gold;
		}
	}
}