//
//colours
//
$offwhite: #ffeecc;
$blurple: rgba(51, 0, 128, 1);
$blurple-transparent: rgba(51, 0, 128, 0.8);
$blurple-highlight: #6b4cc3;
$shadow: #27243A;
$gold: #0E8064;
$invisible: rgba(0, 0, 0, 0);