@use '../general/variables';
/**
 * APPLICATION DASH
 * 
*/

#dash{
	background-color: variables.$invisible;
	color: variables.$gold;
}
.dash-background{
	background-color: variables.$blurple;
	border-radius: 14px;
}