/**
 * WORKSPACE NAVIGATION AREA WHEN YOU PRESS SUPERMOD
*/
.workspace-animation{
	 background-color: $shadow; 
	}
.controls-manager{
  background-color: $shadow;
}

.workspace-thumbnail{
  background-color: $blurple-highlight;
  border: none;
  border-radius: 9px;
  border: 1px solid rgba(255, 255, 255, 0.03);
  background-size: cover;
}
.workspace-thumbnail-indicator {
  border-color: $offwhite;
  border-width: 2px;
  border-radius: 12px;
}