@use '../general/variables';
/**
 * WORKSPACE NAVIGATION AREA WHEN YOU PRESS SUPERMOD
*/
.workspace-animation{
   background-color: variables.$shadow; 
  }
.controls-manager{
  background-color: variables.$shadow;
}

.workspace-thumbnail{
  background-color: variables.$blurple-highlight;
  border: none;
  border-radius: 9px;
  border: 1px solid rgba(255, 255, 255, 0.03);
  background-size: cover;
}
.workspace-thumbnail-indicator {
  border-color: variables.$offwhite;
  border-width: 2px;
  border-radius: 12px;
}