@use '../general/variables';
/**
 * CALENDAR
*/
.calendar-month-label{
	background-color: variables.$gold;
	color: variables.$offwhite;
}

.pager-button{
	border-radius: 12px;
	background-color: variables.$gold;
}

.calendar-week-number {
  color: red; 
}
.calendar-today{
	font:{
		weight: bold;
	}
	&:active,
	&:selected{
		background-color: variables.$gold;
    	color: #f8f8f2;
    	&:hover,
		&:focus{
			background-color: variables.$blurple-highlight;
    		color: #f8f8f2;
		}
	}

}

.calendar-day{
	background-color: variables.$shadow;
	color: variables.$offwhite;
	border-radius: 12px;
	&:hover{
		background-color: variables.$blurple-highlight;
	}
}