@use '../general/variables';
.events-button,
.world-clocks-button,
.weather-button{
	background-color: variables.$shadow;
	color: variables.$offwhite;
	border-radius: 12px;
	&active{
		background-color: variables.$gold;
		color: variables.$offwhite;
	}
}