@use '../general/variables';
.message{
	color: variables.$offwhite;
	background-color: variables.$shadow;
	&:hover{
		background-color: variables.$blurple-highlight;
	}
}
.message-list-clear-button.button{
	background-color: variables.$shadow;
	&:hover,
	&:focus{
		color: variables.$offwhite;
	}
}