.popup-menu-content {
 color: #f0ead2;
	background-color:$blurple-transparent;
  border-radius: 10px;
  border: 0px;
 }
  .popup-menu-item{
    &:hover,
    &:selected{
  background-color: $blurple-highlight;
  color: $offwhite;
    }
}