@use '../general/variables';
/**
 * QUICK TOGGLE OPTIONS
*/
.quick-toggle{
  color:variables.$offwhite;
  background-color: variables.$shadow;
  &:checked{
    background-color: variables.$gold;
  }
}
.quick-toggle-menu{
  background-color: variables.$gold;
  color: variables.$offwhite;
}

.quick-slider,
.icon-button{
  &:active{
  color: variables.$offwhite;
  background-color: variables.$gold;
}
}

.icon-button{
  background-color: variables.$gold;
}