@use '../general/variables';
.slider{
	color: variables.$offwhite;
	-slider:{
		height: .5em;
		active-background-color: variables.$blurple;
	}
	-barlevel:{
		height: .5em;
		active-background-color: variables.$offwhite;
	}
}